section#main
	.container
		include ../header
		p.pre Записи открытого онлайн-мастер-класса внизу страницы
		h1.main-title= head_title
		p.main-info Старт курса: 
			span 10 сентября, в 19:00 мск
		p.main-info Автор курса: 
			span Светояр Вахнин
		a.button.button-main(href="#prices") Купить