section#module-1
	.container
		+gt('','Модуль 1 - "Гармонизация жизни"')
		h4.general-subtitle Данный модуль направлен на:
		ul.module-list
			li построение системы Практик в нашей жизни;
			li активное вовлечение ресурсов нашего Подсознания;
			li выстраивание более глубокой целостности нас как Личности, когда любое действие мы делаем, учитывая интересы нашего Внутреннего мира;
		p.module-text С данной точки зрения, Душевные Практики – это инструмент решения всех актуальных задач. Который позволяет “творить чудеса”, используя все возможности, находя невидимые ранее решения.
		p.module-text Если перед Вами стоит задача Замужества, улучшения финансового благополучия, то по окончании модуля у Вас будет чёткая и понятная последовательность решения любой подобной задачи
		p.module-text 
			span Душевные Практики 
			| – это инструменты достижения задач.
		p.module-text 
			span Модуль "Гармонизация жизни" даёт нам 
			| Практическое применение Душевных Практик, алгоритм разрешения конкретных задач, например, замужество, финансовое благополучие, рождение детей, создание бизнеса. А также мы учимся системе Гармонизации нашей жизни в целом.
		.modules.module-1
			ul.module-lessons
				li Урок 1
				li Урок 2
				li Урок 3
			.lessons
				.lesson
					h5.lesson-title Урок 1 - Мир Возможностей. Функции Душевных Практик
					p.lesson-text Урок посвящён возможностям Практик, их применение в жизни, основы, на которых они работают, некоторые модели строения нашего внутреннего мира. А также Коронная Душевная Практика – основа влияния и преобразования своей жизни и судьбы
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li получите чёткое понимание Душевных Практик в Вашей жизни;
						li определитесь с первоначальными целями, на которые направите своё внимание;
						li увидите различные виды взаимодействия, и у Вас появится выбор, какие когда использовать;
						li получите самую эффективную Душевную Практику, которая со временем может остаться единственной для гармонизации вашей жизни.
					p.lesson-text 
						span Девиз Душевных Практик: научиться делать, чтобы они стали частью нашей Повседневности.
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Статья и видео: «Практика Проживания»
						li Статья: «Образы Системы ДАРА»
				.lesson
					h5.lesson-title Урок 2 - Финансы в нашей жизни
					p.lesson-text Данный урок посвящён теме Финансов, рождению детей, строительства своего дела, успешности жизни в целом. Всё это одна и та же тема, просто имеет разные выражения, так как для всех перечисленных достижений требуется сходный набор качеств и способов взаимодействия с миром
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li узнаете необходимые условия, когда успех гарантирован и не достанется “слишком дорогой ценой”;
						li составите простой и понятный путь к этим условиям;
						li научитесь другим видам языка (язык эффективности), которые могут быть для нас открытием!
						li откроете новые грани взаимодействия с финансами, не известные вам ранее;
						li узнаем алгоритм “материализации” любой желаемой цели, простой и эффективный
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Статья и видео: «Свободный танец»
						li Статья: «Свободное движение как основа гармоничной жизни»
				.lesson
					h5.lesson-title Урок 3 - Телесные Практики. Здоровье – это ресурс
					p.lesson-text В который раз узнаем, что наше Здоровье важно!
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li увидите систему, откуда и для чего складывается Здоровье
						li узнаете как удерживать хороший уровень Тела, как профилактировать многие проблемы заранее
						li раскроете некоторые, почти забытые, секреты взаимосвязей наших внутренних органов, симптомов, рассмотрев самые частые цепочки развития заболеваний
						li узнаете, что такое Психосоматика от Нереализации и почему она может иметь отношение к нам.
						li получите инструкцию “Общие рекомендации”, которые собой перекрывают 80% заболеваний
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Видео: «Психосоматика по сферам жизни»
						li Статья: «Правка органов живота от Целителя»
						li Статья: «Общие рекомендации – как исцелить и не допустить 80% всех заболеваний»