section#module-2
	.container
		+gt('','Модуль 2 - "Мы можем больше" - 5 занятий + 1 бонусный урок + ВСЁ, что входит в Модуль 1')
		h4.general-subtitle Данный модуль направлен на:
		ul.module-list
			li подробный разбор всех Ваших вопросов
			li Высокие реализации, одной из которых будет и наше Предназначение
		p.module-text 
			span То есть более Высокие цели, нежели хорошие финансы и гармония в семье. Это и:
		ul.module-list.module-sublist
			li Инструменты в профессиональной деятельности, а значит понимать про Душевные Практики ещё больше
			li Способ саморазвития, Духовного пути в Повседневности
			li Тонкости, тонкости, тонкости Практик: стратегии, опыт, прямая дорога к Предназначению
		p.module-text 
			span Модуль "Мы можем больше" даёт нам 
			| Душевные Практики как профессиональный метод воздействия на нашу жизнь, нашу Судьбу. Для терапевтов помогающих профессий будет раскрыта суть Практик, как рекомендаций для их клиентов. А также вы научитесь составлять долгосрочные стратегии развития нашей жизни
		.modules.module-2
			ul.module-lessons
				li Урок 1
				li Урок 2
				li Урок 3
				li Урок 4
				li Урок 5
				li Бонус
			.lessons
				.lesson
					h5.lesson-title Урок 1 - Духовные Основы Душевных Практик
					p.lesson-text Широкое видение нашей Реальности, понимание законов Духовного мира
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li узнаете эффективные принципы взаимодействия с Духовным миром
						li научитесь вовлекать Родовую систему в свои Проекты, дела, что приводит к Большему успеху
						li получите глубокое понимание сути Душевных Практик, как они работают
						li найдёте им место в своей терапевтической работе, поймете когда и какие назначать
						li познакомитесь с Практикой “Раскладка Рода”
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Видео: «Духовность в Повседневности»
						li Статья и видео: «Раскладка Рода»
						li Статья: «Премудрости. Просто о сложном»
				.lesson
					h5.lesson-title Урок 2 - Система Целительства. Место в системе
					p.lesson-text Комплексный подход, включающий Исцеление, Гармонизацию жизни, Обучение системе жизни
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li увидите систему Целительства в целом, суть комплексного подхода
						li узнаете как сделать так, чтобы закрепить результаты, как нарабатывать самим
						li научитесь самостоятельно решать практически любые вопросы: “Результат – это объём вложенного труда”
						li узнаете, на что опираются Любовь, Успех, что такое “корни Высоких состояний”
						li разберете некоторые особенности Духовных систем защиты
						li узнаете про простую Практику “Письмо Богу”
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Видео: «Укрепление «корней» отношений»
						li Статья и видео: «Письмо Богу»
						li Статья: «Энергетическая защита»
						li Статья: «Система ДАРА как система целительства»
				.lesson
					h5.lesson-title Урок 3 - Исцеляем Прошлое
					p.lesson-text Данное занятие посвящено Травмам, способам Диагностики и Гармонизации нашего Внутреннего мира
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li узнаете понятие и влияние Травмы с точки зрения Социально-Духовного развития
						li познакомитесь с этапами становления человека
						li научитесь оказывать влияние на наши Прошлые события, изменять их, отпускать негативные ресурсы, преобразовывать в позитив
						li возьмёте на вооружение “зеркала” нашего Прошлого (младшие) и Будущего (старшие)
						li постараетесь прийти к состоянию “Полёта” или Душевной свободы через Практику “Глубокое погружение”
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Видео: «Травмы и ограничения»
						li Статья и видео: «Глубокое Погружение»
						li Статья: «О семейных отношениях»
				.lesson
					h5.lesson-title Урок 4 - Строим Будущее
					p.lesson-text Занятие о Целепостроении, формировании нашего будущего
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li научитесь вкладывать ресурс в наше Будущее
						li сможете формировать цели в соответствии со своим Внутренним миром
						li будете понимать принципы Душевной реальности, мира Возможностей
						li составите план на будущее, план работы с собой
						li разберете упражнение “Образ счастливой жизни”
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Видео: «Постановка и реализация задач»
						li Статья и видео: «Образ счастливой жизни – перепрограммирование подсознания»
						li Статья: «Последовательно гармоничнее»
				.lesson
					h5.lesson-title Урок 5 - Ментальная реальность – мир вариантов
					p.lesson-text Это занятие выводит нас за область Душевных Практик, знакомя нас с силой нашего Сознания
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li познакомитесь с ещё более сложным восприятием реальности
						li узнаете множество новых направлений возможных для нас способов влияния на нашу Реальность
						li возьмёте на вооружение несколько Ментальных Практик, так как их достаточно понять, чтобы применять
						li подробно разберёте универсальное упражнение “Фильтр Сознания”, которое делает нашу жизнь много эффективнее
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Статья и видео: «Практика Фильтр Сознания»
						li Статья: «Основы управления нашей реальностью»
						li Статья: «Обзор Духовных Расстановок и Сказкотерапии»
				.lesson
					h5.lesson-title БОНУСНОЕ ЗАНЯТИЕ "Духовный мир"
					p.lesson-text Это дополнительное занятие, которое учит нас целостному восприятию реальности. Даёт иное понимание Божественного мира, когда всё служит и помогает нам, когда любое проявление (событие) есть Любовь, вложенная в нас
					h6.lesson-subtitle Пройдя урок, Вы:
					ul.lesson-list
						li узнаете больше о нашей Реальности, о Бесконечности жизни, различных взглядах на это
						li увидите принцип “По Образу и Подобию” в нашей жизни
						li узнаете о роли Родовой системы в формировании нашей Судьбы
						li поймете об уровнях восприятия Реальности и какую пользу мы можем от этого получить
						li услышите о некоторых СверхВозможностях
						li разберём Практику “Золотое зёрнышко”
					h6.lesson-subtitle Дополнительные материалы к уроку:
					ul.lesson-list.lesson-sublist
						li Видео: «Высокие реализации»
						li Видео: «Родовая система в нашей жизни»
						li Статья и видео: «Золотое Зёрнышко»
						li Статья: Премудрости 2