footer
	.container
		h5 Хотите узнать больше? Вступайте в наши группы!
		.soc-buttons
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		a#conditions(href= oferta download) Условия возврата денежных средствa
.modal.fade(tabindex="-1" role="dialog")#modal-1
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal-title Модуль 1 - "Гармонизация жизни"
					ul.modal-list
						li
							span Урок 1 
							| - Мир Возможностей. Функции Душевных Практик
						li
							span Урок 2 
							| - Финансы в нашей жизни
						li
							span Урок 3 
							| - Телесные Практики. Здоровье – это ресурс
.modal.fade(tabindex="-1" role="dialog")#modal-2
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal-title Модуль 2 - "Мы можем больше"
					ul.modal-list
						li
							span Урок 1 
							| - Духовные Основы Душевных Практик
						li
							span Урок 2 
							| - Система Целительства. Место в системе
						li
							span Урок 3 
							| - Исцеляем Прошлое
						li
							span Урок 4 
							| - Строим Будущее
						li
							span Урок 5 
							| - Ментальная реальность – мир вариантов
						li
							span Бонус 
							| - "Духовный мир"