header
	padding 20px 0
	margin-bottom: 50px
#logo
	display: block
	float left
	width 220px
	height 17px
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
	line-height: 17px
.contact
	.fa
		margin 0 5px 0 10px
		color: #edd327
		font-size: 16px
		&+span
			font-size: 14px
			color: #fff
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color: #fff
		text-decoration: underline
.contact-tel
	.fa
		margin-left: 0 !important