#main
	padding 0 0 60px
	text-align: center
	color #fff
	background-color: #B5C5DA
	background-image: url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	position relative
	&:before
		content ''
		position: absolute
		top 0
		left 0
		right 0
		bottom 0
		width 100%
		height 100%
		background-color: rgba(#17252E, .7)
		z-index 0
	.container
		position relative
		z-index: 9
.pre
	font-family: GL
.main-title
	font-size: 50px
	margin 20px 0 40px
	font-family: GB 
	text-transform: uppercase
	color: #edd327
.main-info
	font-size: 22px
	margin-bottom: 25px
	span
		display: inline-block
		font-family: GB
		font-size: 26px
	&:last-of-type
		margin-bottom: 50px