#module-1
	padding 60px 0
.general-subtitle
	font-size: 24px
	text-align: center
	color:  #fff
	font-family: GB
	margin-bottom: 20px
.module-list
	width 100%
	max-width 650px
	margin 0 auto 20px
	li
		position: relative;
		margin-bottom: 12px;
		padding-left: 15px;
		list-style: none;
		&:before
			content: '';
			position: absolute;
			left: 0;
			top: 10px;
			border-radius: 2px;
			height: 7px;
			width: 7px;
			background-color: #edd327;
.module-text
	text-align: center
	width 100%
	max-width 860px
	margin 0 auto 20px
	line-height: 1.5
	span
		font-family: GB
		color #edd327;
		font-size: 20px
.modules
	margin-top: 30px
.module-lessons
	width 100%
	text-align: center
	li
		display: inline-block
		margin 0 5px 5px
		border-radius: 3px
		line-height: 35px
		font-size: 20px
		border: 1px solid #edd327;
		width: 110px
		transition: all .4s ease
		cursor pointer
		font-family: GL
		&.active
		&.active-2
		&.active-3
		&:hover
			background-color: #edd327;
			color: #000
			font-family: GB
			box-shadow: 0 0 15px 3px rgba(#fff,.25)
.lessons
	width 100%
	max-width 860px
	padding 20px
	// color: #054067
	margin 15px  auto 0
	background-color: rgba(255,255,255,.15)
	border-radius: 5px
	box-shadow: 0 5px 15px 3px rgba(0,0,0,.15)
.lesson-title
	font-size: 22px
	font-family: GB
	color #edd327;
	text-align: center
.lesson-text
	margin 15px 0 20px
	text-align: center
	span
		font-family: GB
		font-size: 20px
.lesson-subtitle
	font-size: 20px
	font-family: GB
	margin-bottom: 15px
.lesson-list
	margin-left: 30px
	margin-bottom: 20px
	li
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
.lesson-sublist
	margin-bottom: 0
	li
		font-style: italic