#prices
	padding 60px 0
	background-color: #2F4F78
	background-image url(../img/prices_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	position relative
	&:before
		@extend #main:before
	.container
		@extend #main .container
.packets
	width 100%
	max-width 650px
	margin 0 auto
.packet
	width 100%
	max-width 320px
	margin 0 auto 20px
	border-radius: 5px
	background-color: rgba(#4C5C6C,.9)
	padding 20px
	text-align: center
	border: 1px solid rgba(#edd327, .8)
.packet-head
	padding 0 0 20px
.packet-head
	font-size: 20px
	font-family: GL
	span
		font-size: 24px
		font-family: GB
		display block
.packet-body
	padding 20px 0
	border-top: 1px solid #edd327
	border-bottom: 1px solid #edd327
	min-height 118px
.packet-body-titile
	font-size: 20px
.more-button
	cursor pointer
	display: inline-block
	border-bottom: 1px dashed
	font-style: italic
	color: #eee
	font-size: 14px
.packet-footer
	padding: 20px 0 0
.cost
	font-size: 24px
	font-family: GL
	margin-bottom: 20px
	span
		display block
		font-family: GB
		font-size: 30px
.cost-full
	span
		text-decoration: line-through
.cost-sale
	color #ff0f47
.cost-today
	color #7FFF00
	margin-bottom: 30px
.timer-title
	font-size: 28px
	text-align: center
	font-family: GB
	margin-top: 20px
.flip-clock-wrapper
	width: 100%
	max-width 460px
.flip-clock-divider .flip-clock-label
	color #fff
.flip-clock-dot
	background-color: #ff0f47
.flip-clock-wrapper ul li a div div.inn
	color: #fff
	background-color: #ff0f47
	text-shadow: 2px 2px 2px rgba(0,0,0,.6);