#records
	@extend #module-1
.recs-container
	width 100%
	max-width 650px
	margin 0 auto
.recs
	box-shadow: 0 2px 12px 4px rgba(0,0,0,.05)
	background-color #fff
	padding 20px
	border-radius: 5px
	box-shadow: 0 2px 8px 4px rgba(#000, .25)
	margin-top: 15px
	list-style none
.rec-title
	text-align: center
	font-size: 20px
	margin-bottom: 15px
	font-family: GB
	color: #054067
.rec-text
	width 100%
	max-width 650px
	margin 10px auto 0
	color #054067
.general-title-feedback 
	margin-top: 60px
#vk
#fb
	box-shadow: 0 2px 8px 4px rgba(#000, .25)
	overflow hidden
	background-color #fff
	border-radius: 5px
.rec-text-sale
	text-align: center
	margin-bottom: 25px
.about-recs
	text-align: center
	margin-top: 15px
	font-size: 22px
.video-wrapper-rec-single
	max-width 650px