footer
	background: #242933
	position relative
	padding: 20px 0
	text-align: center
footer
	h5
		font-size: 22px;
		font-family: GB
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		font-family: GL
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #edd327
			color #242933
			line-height 28px
			border 1px solid rgba(#9a8958, .45)
			border-radius: 50px
			&:hover
				opacity .8
.modal-backdrop.in
	opacity .9
.modal-content
	background-color: #2D4052
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal-title
	font-size: 22px
	font-family: GB
	margin-bottom: 20px
	width 100%
	max-width 86%
	color: #edd327
.modal-list
	li
		position relative
		padding-left: 15px
		list-style none
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			display block
			position: absolute
			top 9px
			left 0
			border-radius: 50px
			background-color: #FFE32A
			width: 7px
			height 7px
		span
			color: #FFE32A
			font-family: GB
			font-size: 20px