@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.module-list
	.recs-container
		max-width 860px
	.module-text
	.lessons
		max-width 1000px
@media screen and (max-width 767px)
	header
		margin-bottom 20px
	#logo
		display block
		margin 0 auto 5px
		float: none
	.contacts
		float: none
		text-align: center
	.contact
		margin 5px 5px 0
		display: inline-block
		.fa
			margin 0 3px 0 5px
	#main
		padding-bottom: 40px
	#module-1
	#module-2
	#prices
	#records
		padding: 40px 0
	.main-info:last-of-type
		margin-bottom: 30px
	.packet-body
		min-height 1px
	.general-title-feedback
		margin-top: 40px
	#vk
		margin-bottom: 25px
	footer
		padding 15px 0
@media screen and (max-width 485px)
	#logo
		width 160px
		height 14px
	.contact
		.fa
			font-size: 14px
			&+span
				font-size: 12px
	header
		padding 10px 0
		margin-bottom: 15px
	.main-title
		font-size: 36px
		margin 15px 0 20px
	.main-info
		font-size: 20px
		margin-bottom: 10px
		span
			font-size: 22px
	.general-title
		font-size: 26px
		margin-bottom: 25px
	.module-text
		margin-bottom: 10px
	.module-lessons li
		font-size: 16px
		line-height: 30px
		width 90px
	.lessons
	.recs
	.packet
		padding 15px
	.lesson-list
		margin-left: 20px
	.packet-head
		padding-bottom: 15px
	.packet-body
		padding 15px 0
	.packet-footer
		padding-top: 15px
	.cost
		font-size: 22px
		margin-bottom: 15px
		span
			font-size: 26px
	.timer-title
		font-size: 26px
		margin-top: 0
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.about-recs
		font-size: 20px
	footer h5
		font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer #conditions, footer p
		font-size: 12px
	.modal-title
		font-size: 20px
	.modal-list li span
		font-size: 18px
@media screen and (max-width 385px)
	.main-title
		font-size: 32px
		margin 10px 0 15px
	#main
		padding-bottom: 30px
	#module-1
	#module-2
	#prices
	#records
		padding: 30px 0
	.general-title
		font-size: 24px
	.general-subtitle
		font-size: 22px
	.lesson-title
		font-size: 21px
	.lesson-list li
		font-size: 16px