.general-title
.button
.main-title
.main-info span
.general-subtitle
.module-text span
.lesson-title
.lesson-text span
.lesson-subtitle
.packet-head span
.cost span
.timer-title
.rec-title
footer h5
.modal-title
.modal-list li span
	font-weight: bold
.module-lessons
	li
		&.active
		&.active-2
		&.active-3
		&:hover
			font-weight: bold
.packet-head
	min-height 110px